<nav class="sticky-top nav-back-color shadow pb-3 pt-3">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around align-items-center">
      <div class="col-md-4 text-center" id="a-nav-main">
        <a href="/" class="a-nav-text"
          ><img src=" https://cdn-icons-png.flaticon.com/512/5373/5373284.png" class="img-logo" alt="Logo"/>Usuarios</a>
      </div>
      <div class="col-md-4 d-flex justify-content-around">
        <a class="a-nav" href="/new-entry">Nuevo Usuario</a>
        <a class="" id="setClima"> Temperatura de hoy:</a>
      </div>
    </div>
  </div>
</nav>
<script src="/clima.js"></script>
